h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    width: 730px;
    margin-left: 300px;
    margin-top: 200px;
}
h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    margin-top: 100px;
    margin-left: 380px;
}
hr{
    width: 730px;
    margin-left: 300px;
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    width: 560px;
    font-size: 13px;
    margin-top: 20px;
    margin-left: 350px;
    color: rgb(51, 51, 51);
}
p {
    font-family: 'Times New Roman', Times, serif;
    width: 580px;
    font-size: 17px;
    margin-left: 380px;
}
img{
    width: 590px;
    margin-left: 380px;
}